.hover-yellow:hover{
    background-color: rgba(255,220,0,250);
    outline: none;
}

.remove-arrow::after{
    display: none;
}

.active-yellow:click{
    background-color: rgba(255,220,0,250);
    outline: none;
}

.focus-yellow:focus{
    background-color: rgba(255,220,0,250);
    outline: none;
}

.search-prefix {
    background-image: url(../images/svgs/search.svg);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;
  }

  .country-prefix {
    background-image: url(../images/svgs/vector.svg);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;
  }

  .filter-prefix {
    background-image: url(../images/svgs/funnel.svg);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;
  }

