.hover-yellow:hover{
    background-color: rgba(255,220,0,250);
    outline: none;
}

.remove-arrow::after{
    display: none;
}

.active-yellow:active{
    background-color: rgba(255,220,0,250);
    outline: none;
}

.focus-yellow:focus{
    background-color: rgba(255,220,0,250);
    outline: none;
}

.hover-none:hover{
  background-color: white;
}

/* Images for search components */
.search-prefix {
    background-image: url(../images/svgs/search.svg);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;
  }

  .country-prefix {
    background-image: url(../images/svgs/vector.svg);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;
  }



  .newToCompany{
    text-align: center;
    font-size:16px;
    font-weight: 400;
    margin-top: 20px;
  }

  .dropdown-divider{
    margin: 20px;
  }

  .filter-prefix {
    background-image: url(../images/svgs/funnel.svg);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;
  }

  .button-parent{
    position: relative;
    width: 300px;
    height:50px;
    margin: 20px;
  }

  .start-here-button{
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    color: black;
    font-size: 19px;
    font-weight: 640;
  }

  .start-here-button:hover{
    background-color: rgba(255,220,0,250);
  }

  .log-in-button{
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    color: white;
    background-color: black;
    font-size: 19px;
    font-weight: 640;
  }
  
  .log-in-button:hover{
    background-color: rgba(255,220,0,250);
  }

  .start-here-text{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }

  .start-here-text:hover{
    color: rgba(255,220,0,250);
  }
  
  /* flag icons */
  .select-flag-wrapper{
    width: 20px;
		height: 20px;
  }

  .select-flag{
    transform: translateX(-25%);
  }

/*  reponsiveness */

@media (max-width: 993px) {
  .navbar {
    max-height: 150px;
    display: flex;
    justify-content: space-between;
  }

  /* userMenu  */
  .navbar-userMenus {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .menu-button{
    height: 50px;
    width: 60px;
  }

  .outside-menu{
    position: absolute;
    margin-top: 50px;
    z-index: 999;
  }

  .button-parent{
    position: relative;
    width: 220px;
    height:50px;
    margin: 20px;
  }

  .language-menu{
    position: absolute;
  }

  /* search menu */
  .navbar-toggler{
    margin-top: -15px;
    margin-right: 10px;
  }
  
  .navbar-collapse {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-logo{
    margin-left: 5px;
  }
}




@media ((min-width: 541px) and (max-width: 993px)) {
  .toggled-off-searches-favorites{
    margin-left: -15px;
  }

  .toggled-off-searches-cart{
    margin-left: -75px;
  }
  .toggled-off-searches-account{
    margin-left: -135px;
  }

  .language-menu{
    margin-left: -95px;
  }
}